<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | UniTwitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/nuclear/bulmaswatch.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="container">
        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              UniTwitter
            </div>
          </div>
          <div class="level-right">
            <p class="level-item">
             <!--%= link_to("Manage Users", users_path, :class => "button is-dark is-outlined") %>-->
            </p>
          </div>
        </nav>
      </div>
    </header>
    
    <nav class="level">
       <p class="level-item has-text-centered">
         <a class="link is-info">Home</a>
       </p>
       <p class="level-item has-text-centered">
         <a class="link is-info">Menu</a>
       </p>
       <p class="level-item has-text-centered">
         <img src="https://bulma.io/images/bulma-type.png" alt="" style="height: 30px;">
       </p>
       <p class="level-item has-text-centered">
         <a class="link is-info">Help</a>
       </p>
       <p class="level-item has-text-centered">
         <a class="link is-info">About</a>
       </p>
    </nav>
    
    <section class="section">
      <div class="container">
       <%= yield %>
      </div>
    </section>
    
    <footer class="footer">
      <div class="container">
        <p>
          <strong>Copyright © 2020 UniTwitter</strong> by Alison Rogério</a>. All rights reserved.
        </p>
      </div>
    </footer>
    
  </body>
</html>
